<a href="https://colab.research.google.com/github/Thuy-code/DulieuChuyensau/blob/readme-edits/PhanTichDuLieuChuyenSau/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Series**

In [26]:
import pandas as pd
s = pd.Series([12,-4,7,9])
print(s)

0    12
1    -4
2     7
3     9
dtype: int64

In [7]:
s.values

array([12,  4,  7,  9])

In [8]:
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
# DataFrame
##Ngược lại với chuỗi có một mảng chỉ mục chứa nhãn cho mỗi phần tử, khung dữ liệu chứa hai 
##mảng chỉ mục. Các chức năng của mảng chỉ mục đầu tiên, có liên quan đến các dòng, khá giống
##với các chức năng của mảng chỉ mục trong chuỗi. Trên thực tế, mỗi nhãn tương ứng với tất cả các
##giá trị trong hàng. Mảng thứ hai có một chuỗi các nhãn, mỗi nhãn được kết nối với một cột nhất định
##Ngoài ra, một khung dữ liệu có thể được coi là một chuỗi dữ liệu, với các khóa là tên cột và các giá
 ##trị là chuỗi sẽ bao gồm các cột của khung dữ liệu. Hơn nữa, mỗi phần tử của chuỗi được ánh xạ theo 
 ##một mảng nhãn được gọi là chỉ mục.

In [15]:
data = {'color': ['blue', 'green', 'yellow', 'red', 'white'], 
      'object': ['ball', 'pen', 'pencil', 'paper', 'mug'],
      'price' : [1.2, 1.0, 0.6, 0.9, 1.7]}
frame = pd.DataFrame(data)
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [16]:
frame2 = pd.DataFrame (data, columns= ['object', 'price'])
frame2

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

In [17]:
frame2['type'] = 'mormal'
frame2

   object  price    type
0    ball    1.2  mormal
1     pen    1.0  mormal
2  pencil    0.6  mormal
3   paper    0.9  mormal
4     mug    1.7  mormal

In [20]:
for i in range(len(frame2)):
  if frame2['price'][i] > 1.0:
    frame2.loc[i,'type'] = 'good'
frame2

   object  price    type
0    ball    1.2    good
1     pen    1.0  mormal
2  pencil    0.6  mormal
3   paper    0.9  mormal
4     mug    1.7    good

In [21]:
frame2['discount'] = frame2['price']*0.02
frame2

   object  price    type  discount
0    ball    1.2    good     0.024
1     pen    1.0  mormal     0.020
2  pencil    0.6  mormal     0.012
3   paper    0.9  mormal     0.018
4     mug    1.7    good     0.034

In [25]:
frame2['price_afterfiscount'] = frame2['price'] - frame2['discount']
frame2

   object  price    type  discount  price_afterfiscount
0    ball    1.2    good     0.024                1.176
1     pen    1.0  mormal     0.020                0.980
2  pencil    0.6  mormal     0.012                0.588
3   paper    0.9  mormal     0.018                0.882
4     mug    1.7    good     0.034                1.666

# Read data from csv file